body {
	background: url(../images/moon7.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.title {
	font-family: BellGothicBT-Roman;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
	margin-left: 52%;
	margin-top: 185px;
	display: inline-block;
	background-color: black;
	width: 193px;
}

.intro1 {
	font-family: BellGothicBT-Roman;
	font-size: 14px;
	color: white;
	margin-left: 52%;
	margin-top: 40px;
	width: 250px;
	background-color: black;
}

.intro2 {
	font-family: BellGothicBT-Roman;
	font-size: 14px;
	color: white;
	margin-left: 52%;
	margin-top: 20px;
	width: 272px;
	background-color: black;
}

.intro3 {
	font-family: BellGothicBT-Roman;
	font-size: 14px;
	color: white;
	margin-left: 52%;
	margin-top: 20px;
	width: 380px;
	background-color: black;
}

.nav_plus {
	margin-top: 10px;
	margin-left: 51px;
	position: fixed;
	display: inline;

}

.nav_minus {
	margin-top: 10px;
	margin-left: 12px;
	position: fixed;
	display: inline;
}

.nav_home {
	margin-top: 10px;
	margin-left: 95px;
	position: fixed;
	display: inline;
}

.nav_information {
	margin-top: 10px;
	margin-left: 180px;
	position: fixed;
	display: inline;
}

.nav_contribute {
	margin-top: 10px;
	margin-left: 358px;
	position: fixed;
	display: inline;
}