@font-face {
    font-family:'goffregular';
    src: url('fonts/goff-regular-webfont.eot');
    src: url('fonts/goff-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/goff-regular-webfont.woff2') format('woff2'),
         url('fonts/goff-regular-webfont.woff') format('woff'),
         url('fonts/goff-regular-webfont.ttf') format('truetype'),
         url('fonts/goff-regular-webfont.svg#goffregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.how-to-portal {
	
}