p {
	font-family: times;
	font-size: 15px;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 0px;
	display: fixed;
}

.link {
	font-family: times;
	font-size: 150px;
	text-decoration: none;
	display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    width: 250px;
}

.link1 {
	font-family: times;
	font-size: 150px;
	text-decoration: none;
	display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    width: 250px;
    color: blue;
}

.link3 {
	font-family: times;
	font-size: 150px;
	text-decoration: none;
	display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    width: 250px;
    color: black;
    text-decoration: line-through;
}

a {
	text-decoration: none;
	color: black;
}

.list {
	width: 1275px;
	margin-top: 80px;
	margin-left: 50px;
}

body {
	height: 500px;
}

a.one {
	color:black;
	text-decoration: underline;
}

a.two {
	color:blue;
	text-decoration: underline;
}

a.three {
	color:blue;
}