body {
	background-repeat: url("../images/01.jpg");
	
	width: 2000px;
	height: 2000px;
}

hr {
top: 0;
width: 100%;
background-color: white;
border-color: white;
height: 45px;
position: fixed;
top: 0px;
display: block;
border-style:solid;
margin: 0;
padding: 0;
z-index: -1;
}

h1 {

}