
.navigation1 {
  position: fixed;
  top: 25px;
  left: 1158px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  left: 1200px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  left: 1242px;
  display: inline;
  z-index: 10;
}
body {
	background-color: #BEC6C9;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Times;
	text-align: center;
	margin-bottom: 3em;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.2;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rotate {
	font-family: Times;
	text-align: center;
	margin-bottom: 3em;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.2;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    padding-top: 5px;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	color: black;
}

