.navigation1 {
  position: fixed;
  top: 25px;
  right: 115px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  right: 70px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  right: 25px;
  display: inline;
  z-index: 10;
}

h1 {
	margin: 0 5px 0 0;
	margin-top: 5em;
	margin-right: 5px;
	margin-bottom: 1em;
	margin-left: 4em;
	color: #006000;
	display: inline-block;
	font-size: 36px;
	line-height: 40px;
}

.title {
	font-style: italic;
}

a {
	text-decoration: underline;
	color: #006000;

}