body {
  font-family: 'Petit Formal Script', cursive;
  text-rendering: optimizeLegibility;
  display: block;
   -moz-hyphens: auto;-o-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;-hyphens: auto;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  background-color: red;
  font-size: 80px;
  line-height: 1.15em;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}

.navigation1 {
  position: fixed;
  top: 25px;
  right: 115px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  right: 70px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  right: 25px;
  display: inline;
  z-index: 10;
}



