.navigation1 {
  position: fixed;
  top: 25px;
  left: 1158px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  left: 1200px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  left: 1242px;
  display: inline;
  z-index: 10;
}

hr {
top: 0;
width: 100%;
background-color: yellow;
border-color: yellow;
height: 712px;
position: fixed;
top: 0px;
display: block;
border-style:solid;
margin: 0;
padding: 0;

}

.container {
	height: 10px;
	top: 0;
}


h1 {
	margin-top: 695px;
	margin-bottom: 85px;
	font-family: 'EB Garamond', serif;
	font-size: 40px;
	line-height: 42px;
	margin-left: 2%;
	text-decoration: none;
	color: red;
}

a {
	font-family: 'EB Garamond', serif;
	font-size: 40px;
	line-height: 42px;
	margin-left: 2%;
	text-decoration: none;
	color: red;
}

a:hover {
	color:white;
}

.title {
	font-style: italic;
}


