p {
	font-family: Georgia;
	font-size: 60px;
	line-height: 56px;
	margin-left: 1.65em;
	font-style: bold;
}


hr {
	border-top: 4px solid #000;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: rgb(0, 0, 0);
	width: 125%;
}

.container {
	width: 1250px;
}

.title {
	font-style: italic;
}

a {
	text-decoration: none;
	color: black;

}

a:hover {
	color:red;
}