.navigation1 {
  position: fixed;
  top: 25px;
  left: 1158px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  left: 1200px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  left: 1242px;
  display: inline;
  z-index: 10;
}

.container {
	width: 800px;
	display: inline;
	text-align: center;

}

p {
	font-family: Helvetica, Arial;
	background-color: #fff;
	text-align: center;
	font-size: 26px;
	line-height: 34px;
}


.title {
	font-family: Helvetica, Arial;
	background-color: #fff;
	text-transform: uppercase;
	font-style: bold;
	letter-spacing: 1px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}