h1 {
	font-family: Georgia;
	font-size: 58px;
	line-height: 56px;
	margin-left: 1.65em;
}

h2 {
	font-family: Georgia, serif;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-stretch: normal;
	line-height: 20px;
	color: #ff5443;
	margin-left: 7.54em;
}

.line {
	border-top: 4px solid #000;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: rgb(0, 0, 0);
	margin-left: 6em;
	margin-right: 33em;
}

.text {
	font-family: georgia, times, serif;
	width: 650px;
	line-height: 1.5em;
	margin-left: 6em;
}