body {
	background-image: url(style5_background.jpg)
}

hr {
top: 0;
width: 100%;
background-color: white;
border-color: white;
height: 45px;
position: fixed;
top: 0px;
display: block;
border-style:solid;
margin: 0;
padding: 0;
}

h1 {

}