.navigation1 {
  position: fixed;
  top: 25px;
  right: 115px;
  display: inline;
  z-index: 10;
}

.navigation2 {
  position: fixed;
  top: 25px;
  right: 70px;
  display: inline;
  z-index: 10;
}

.navigationthree {
  position: fixed;
  top: 25px;
  right: 25px;
  display: inline;
  z-index: 10;
}

body {
	background-color: #b19cd9
}

h1 {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	font-size: 125px;
	text-align: center;
	margin-top: 175px;
	margin-bottom: 0;
}

h2 {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 0;

}

p {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: yellow;
}
