h1 {
	font-family: 'EB Garamond', serif;
	font-size: 40px;
	line-height: 42px;
	margin-left: 6em;
	margin-top: 5em;
}

.text {
	font-family: 'EB Garamond', serif;
	font-size:21px;
	line-height:28px;
	width: 682px;
	margin-left: 11.5em;
	margin-top: 9.5em;
} 

header {
border-top: 30px solid #ff3;
height: 120px;
margin: 0 0 96px 0;
}

.zone-preface-wrapper {
	border-bottom: 1px;
	margin-top: 0em;
	padding-top: 1.06667em;
	padding-bottom: 2.66667em;
	margin-bottom: 1.77778em;
	margin-right: 0em;
	margin-left: 0em;
	color: red;
}