

p {
	font-family: times, serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	
}

a {
	text-decoration: underline;
	color: black; 
	font-family: times, serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 30px;
	text-align: center;
}

.container {
	margin-bottom: 200px;
	margin-top: 40px;
	margin-left: 35px;
}